-
    var header = '#recent clients'
    var clientList=[
        "asset/image/client/Healthy-Lifestyle.jpg",
        "asset/image/client/Healthy-Lifestyle.jpg",
        "asset/image/client/Healthy-Lifestyle.jpg",
        "asset/image/client/Healthy-Lifestyle.jpg",
        "asset/image/client/Healthy-Lifestyle.jpg",
        "asset/image/client/Healthy-Lifestyle.jpg",

    ];

#client
.client
    .client__header=header
    .client__list
        each client in clientList
            .client_image

