extends _component/layout/page
block cool-config
  - 
    var myTitleForGoogleSearch = 'My really ultra awesome CV'
    var myDescriptionForGoogleSearch = 'This is made with Pure HTML and CSS '
block awesome-content
  include _component/landing-page/landing-page

